html, body, .background, .board {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.background {
    background: url(img/background.jpg);
    background-size: cover;
}

.board {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 425px;
}

.board__part {
    display: flex;
    align-items: center;
}

.board__part_left {position: relative;}

.board__part_center {
    position: relative;
}

.board__part_right {z-index: 1;}

.tiles-set, .tiles-set_overlay {
}

.tiles-set_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tiles-set_overlay:nth-of-type(2) {
    top: 49.3%;
    left: 49%;
}

.tiles-set_overlay:nth-of-type(3) {
    top: 48.8%;
    left: 48%;
}

.tiles-set_overlay:nth-of-type(4) {
    top: 48.2%;
    left: 47%;
}

.tiles-set_overlay:nth-of-type(5) {
    top: 47%;
    left: 46%;
}

.tile {
    height: 9vh;
    width: 5vh;
    display: inline-block;
}

.tile > img {
    height: 9vh;
    width: 5.8vh;
    user-drag: none;
    user-select: none;
}


.tiles-row {
    position: relative;
    height: 8.2vh;
}
