html, body, .background, .board {
    height: 100vh;
    margin: 0;
    overflow: auto;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    background: url(img/background.jpg);
    background-size: cover;
}

.board {
    display: flex;
    justify-content: center;
    position: relative;
}

@media screen and (orientation: landscape) {
    .board {
        min-width: 425px;
    }
}

@media screen
and (orientation: portrait)
and (min-height: 460px) {
    .board {
        min-width: 800px;
    }
}

@media screen
and (orientation: portrait)
and (min-height: 1024px) {
    .board {
        min-width: 1600px;
    }
}

.board__part {
    display: flex;
    align-items: center;
}

.board__part_left {position: relative;}

.board__part_center {
    position: relative;
}

.board__part_right {z-index: 1;}

.tileset_overlay {
    position: absolute;
    transform: translate(-50%, -50%);
}

.tileset_overlay:nth-of-type(2) {
    top: 49.3%;
    left: 49%;
}

.tileset_overlay:nth-of-type(3) {
    top: 48.4%;
    left: 48%;
}

.tileset_overlay:nth-of-type(4) {
    top: 47.8%;
    left: 47%;
}

.tileset_overlay:nth-of-type(5) {
    top: 47%;
    left: 46.5%;
}

.cell {
    height: 11vh;
    width: 7vh;
    display: inline-block;
    position: relative;
}

.cell > img {
    height: 11vh;
    width: 7.8vh;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}


.tiles-row {
    position: relative;
    height: 10.1vh;
}


.frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.9vh;
    border: 3px solid blue;
}